{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
        <div class="body">
            <div class="left-side">
                <div id="slogan">FIND, <span id="span-bid">BID</span>, AND WIN THE BEST DEALS - ALL IN ONE PLACE</div>
                <p id="short-desc">Join a community of smart buyers and sellers. Bidly makes it easy and exciting</p>
                {% if not user.is_authenticated %}
                    <div class="buttons">
                        <button type="button" class="btn btn-2" data-url="{% url 'login' %}" onclick="location.href=this.dataset.url">Get Started</button>
                    </div>
                {% endif %}
            </div>
            <div class="right-side">
                <img src="{% static 'auctions/pic.png' %}" id="bid">
            </div>
        </div>
{% endblock %}